@model IEnumerable<COMP2006_S2016_FinalExamV2.Models.Album>


<!--
File   : Albums/Index.cshtml
Author : Nisarg
Student	Number: 200292593
Date: 2016-08-18
Version History: 1.0.0
Description:  This page is Albums page with list of all Albums Details -->

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Album</h2>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Artist.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Genre.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AlbumArtUrl)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Artist.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Genre.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AlbumArtUrl)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>